*{

    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

    nav .fas{

        display:none;

    }

@media only screen and (max-width:700px) and (min-width:300px) {

  

    .head-text{

        margin-top: 100%;
        font-size:16px;

    }

    .head-text h1{

        font-size:30px;

    }

    nav .fas{

        display:block;
        font-size:25px;
        

    }

    nav ul{

       background:#2dd4dc; 
       position:fixed;
       top:0;
       right:0;
       width:200px;
       height:100vh;
       padding-top:50px


    }




}
    



body{
   
    background:#080808 !important ;
    color:#fff !important; 

}

.containerimg{

    padding-left:10px 10% ;

}

nav{

    display:flex ;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;

}

.logo{

    width:220px;
    border-radius: 0.5em;
    border:#2dd4dc 4px solid ;

}

nav ul li{

    display:inline-block;
    list-style:none;
    margin:10px 20px;

}

nav ul li a{

    color:#fff;
    text-decoration: none;
    font-size:18px;
    position: relative;
}

nav ul li a::after{

    content:'';
    width:0;
    height:2px;
    background:#2dd4dc;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.3s;
}

nav ul li a:hover::after{

    width:100%;


}

nav{

    width:100%;
    position:sticky;

}

.head-text{

    margin-top:20%;
    font-size:30px;

}

.head-text h1{

font-size: 60px;
margin-top:20px;

}

.head-text h1 span{

    color:#2dd4dc;

}

.me{
   
    margin-top: -400px;
    border-radius: 0.5em;
    margin-left: 300px;
    

}



/*/CSS for the about/*/


.About-me-text{

    text-align: center;
    font-size: 60px;
    color:#2dd4dc;

}



.row{

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1{

    flex-basis:35%;

}

.about-col-1 img{

width:100%;
border-radius: 15px;

}

.about-col-2{

flex-basis:60%

}

.sub-title{

font-size:40px;
font-weight: 600;
color:#fff;


}

div div p .text{

font-size: 100px;
font-weight: 400;


}

/*/CSS for Contact page/*/

.contact-heading{

    text-align: center;
    font-size: 70px;
}

span{

    color:#2dd4dc;

}




.imgcon{

    flex-basis: 35%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    width:100%;
  
    

}

.wholeform{

    display:flex;
    justify-content: right;
    margin:200px;
    
    
}

/*/CSS for testimonial/*/



.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background:#2dd4dc ;
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

/*/CSS for project/*/



/*/footer/*/

.navlink2{

    margin-top: 150px;

}

